
{%block title %} Create New Booking {%endblock%}
{% block breadcrumb %}
<li class=""><a href="{% url 'create-pdf' %}">Booking</a></li>

{%endblock%}

{% block content %}



{{type}}
<form method="POST">
    {% csrf_token %}
    <label>ddfdf</label><input type="text" name="city" id="id_city"><br/>
    <label>ddfdf</label><input type="text" name="roomtype" id="id_roomtype"><br/>
    <label>ddfdf</label><input type="date" name="checkin" id="id_checkin"><br/>
    <label>ddfdf</label><input type="date" name="checkout" id="id_checkout"><br/>

    <input type="submit" value="book"/>
</form>





<div>

</div>
{%endblock%}